<!DOCTYPE html>
<html>
<head>
	<title>Cờ vây online</title>
 	<meta property="og:title" content="Vayu Game - Trải nghiệm cờ vây online độc đáo">
	<meta property="og:description" content="Vayu Game mang đến cho bạn trò chơi cờ vây trực tuyến độc đáo và hấp dẫn. Thử thách bản thân với các nước cờ chiến thuật, rèn luyện trí tuệ và thể hiện khả năng tư duy chiến lược của bạn. Hãy tham gia ngay để trở thành nhà vô địch cờ vây!">
	<meta property="og:image" content="http://vayugovn.com/asset/img/room_playing.png">
	<meta property="og:url" content="http://vayugovn.com">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="asset/img/anh1.ico">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

 	<link rel="stylesheet" type="text/css" href="asset/css/login.css">
	<link rel="stylesheet" type="text/css" href="asset/css/style.css">
</head>
<body>
	<div id="app">
		<div class="user-page" v-if="!userId">
	        <login-component v-if="isLogin"
	            :error_message="errorMessage"
	            :success_message="successMessage"
	            @view_register="viewRegister"
	            @view_forgot="viewForgot"
	        ></login-component>

	        <register-component v-if="isRegister"
	            @view_login="viewLogin"
	            @register_success="registerSuccess"
	        ></register-component>

	        <forgot-component v-if="isForgot"
	            @view_login="viewLogin"
	            @register_success="registerSuccess"
	        ></forgot-component>
    	</div>

    	<div class="room-page" v-if="userId">
	        <index-component v-if="roomId==0"
			  	:user_name="userName" 
			  	:user_elo="userElo" 
			  	:user_id="userId"
			  	@show_room="showRoom"
			  	@set_clicked="setClicked"
			  	:is_popup_visible="isPopupListRoomVisible"
			  	:list_room_playing="listRoomPlaying"
			  	:user_elo_change="userEloChange"
			  	@close_list_room="closeListRoom"
		  	></index-component>

		  	<room-component v-if="roomId>0"
			  	:user_name="userName" 
			  	:user_elo="userElo" 
			  	:user_id="userId"
			  	:user_status='userStatus'
			  	:user_color="userColor"

			  	:player_name="playerName" 
			  	:player_elo="playerElo" 
			  	:player_id="playerId"
			  	:player_status='playerStatus'
			  	:player_color="playerColor"
			  	:player_score='playerScore'
			  	:player_move_count='playerMoveCount'

			  	:opponent_name="opponentName" 
			  	:opponent_elo="opponentElo" 
			  	:room_status="roomStatus"
			  	:opponent_status="opponentStatus"
			  	:opponent_id = "opponentId"
			  	:opponent_color="opponentColor"
			  	:opponent_score='opponentScore'
			  	:opponent_move_count='opponentMoveCount'

			  	:room_id="roomId"
			  	:turn_playing="turnPlaying"
			  	:timer="timer"
			  	:time_server='timeServer'
			  	:moves='moves'
			  	:notification='notification'
			  	:messages='messages'
			  	@show_index="showIndex"
			  	@room_users='roomUsers'
			  	@set_clicked="setClicked"
			  	:opponent_elo_change="opponentEloChange"
		    	:player_elo_change="playerEloChange"
		    	:is_get_request_result="isGetRequestResult"
		    	@close_get_request_result="closeGetRequestResult"
		    	:is_result="isResult"
		    	:response_result="responseResult"
		    	@close_result="closeResult"
		    	@start_wait_interval="startWaitInterval"
		    	:is_opponent_wait_ready="isOpponentWaitReady"
		    	:opponent_wait_ready_time="opponentWaitReadyTime"
		    	:is_get_dicken="isGetDicken"
		    	@close_get_dicken="closeGetDicken"
		  	></room-component>
    	</div>
    </div>
    <script src="asset/js/component/login/loginComponent.js"></script>
    <script src="asset/js/component/login/registerComponent.js"></script>
    <script src="asset/js/component/login/forgotComponent.js"></script>
    <script src="asset/js/component/indexComponent.js"></script>
	<script src="asset/js/component/roomComponent.js"></script>
	<script src="asset/js/component/popupComponent.js"></script>
	<script src="asset/js/component/chatComponent.js"></script>
	<script src="asset/js/node_index.js"></script>
</body>
</html>